<!DOCTYPE html>
<html lang="ko">
<th:block th:fragment="deafult-meta">
    <meta charset="UTF-8">
    <meta name="description" content="the best solution">
    <meta name="application-name" content="cork note">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</th:block>
<th:block th:fragment="bootstrap">

</th:block>
<th:block th:fragment="general-script">
    <script src="https://unpkg.com/typeeffectjs@latest/typing.js"></script>
</th:block>
<th:block th:fragment="general-style">

</th:block>
</html>